.App2{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.desc_box{
  padding-top: 30px;
  color: rgb(214, 38, 191);
  width: 70%;
}

.intext{
  color: black;
  opacity: 1;
}

.goback{
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: rgb(251, 255, 41);
  opacity: 0.5;
}

